**CHI-Square Test**

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
from scipy.stats import chi2

In [2]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
df_table = pd.crosstab(df['sex'], df['smoker'])
df_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [4]:
val = stats.chi2_contingency(df_table)
val

(0.008763290531773594, 0.925417020494423, 1, array([[59.84016393, 97.15983607],
        [33.15983607, 53.84016393]]))

In [5]:
expectation = val[3]

In [7]:
observed = df_table.values

In [20]:
chi_square=sum([(o-e)**2./e for o,e in zip(observed,expectation)])
chi_square_statistic=chi_square[0]+chi_square[1]

In [21]:
chi_square_statistic

0.001934818536627623

In [27]:
no_of_rows=len(df_table.iloc[0:2,0])
no_of_columns=len(df_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [28]:
critical_value = chi2.ppf(q=1-alpha, df=ddof)
critical_value

3.841458820694124

In [29]:
if chi_square_statistic >= critical_value:
  print('Reject H0')

else:
  print('Retain H0')

Retain H0